<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <button mat-mini-fab id="recipe-menu-button" color="accent">
      <mat-icon>...</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image src="{{recipe.imageURL}}">
  <mat-card-footer class="d-flex justify-content-between p-4">
    <i class="fa fa-clock-o">{{recipe.totalTime}}</i>
    <i class="fa fa-sign-language">{{recipe.workingTime}}</i>
    <i class="fa fa-star">{{recipe.favorite}}</i>
    <i class="fa fa-users">{{recipe.portions}}</i>
  </mat-card-footer>

</mat-card>
  